@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in library</h1>
    <p>Learn about <a href="https://docs.google.com/document/d/1Y2WfiqZY7Wpjcxb8MpfiYrpg-DjkUkjQ/edit">this project</a>.</p>
</div>

