@page
@model Bibliotek.Pages.SignUpModel
@{
}


<div class="container mt-5">
    <div class="row justify-content align-content-center align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
            <h1 class="mb-3">Sign up page</h1>
            <form method="post">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input asp-for="Signup.Username" id="username" class="form-control mb-2" type="text" placeholder="Username" />
                    <span class="text-warning" asp-validation-for="Signup.Username"></span>  <!--  Needed in order to display [required error] messages-->

                    <label for="email">Email:</label>
                    <input asp-for="Signup.Email" id="email" class="form-control mb-2" type="email" placeholder="Email" />
                    <span class="text-warning" asp-validation-for="Signup.Email"></span>

                    <label for="password">Password:</label>
                    <input asp-for="Signup.Password" id="password" class="form-control mb-2" type="password" placeholder="Password" />
                    <span class="text-warning" asp-validation-for="Signup.Password"></span>

                    <label for="re-password">Verify password:</label>
                    <input asp-for="Signup.VerifiedPassword" id="re-password" class="form-control mb-2" type="password" placeholder="Verify password" />
                    <span class="text-warning" asp-validation-for="Signup.VerifiedPassword"></span>

                    <input class="btn btn-outline-danger" type="submit" value="Sign Up" />
                </div>
            </form>
        </div>
    </div>
</div>
