@page
@model Bibliotek.Pages.Kalender.CreateModel
@{
}

<h2>Create New Event</h2>
<hr />

<div class="container">
    <form method="post">

    <div class="mb-3">
     @*   <label for="@Model.NewEvent.Id" class="form-label">Event Id:</label>
        <input type="text" asp-for="NewEvent.Id" class="form-control" placeholder="Id for post">
*@
        <label for="validationDefault01" class="form-label">Header</label>
        <input type="text" asp-for="NewEvent.Headline" class="form-control" placeholder="Header/title">

        <label for="validationDefault01" class="form-label">Content</label>
        <textarea type="text" asp-for="NewEvent.Message" class="form-control text-area" placeholder="Content"></textarea>
        <input type="hidden" asp-for="NewEvent.Date" value="@DateTime.Now" >
  </div>
    <div class="mb-3">
        <button class="btn btn-primary" type="submit">Submit form</button>
    </div>
</form>



</div>


